@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model bit285_assignment1_naps.Models.User
@{
    Layout = "_Layout";
    ViewBag.title = "Account Confirmation";
}

<h1>New Account Created</h1>
<fieldset>
    <form asp-action="ConfirmAccount" method="post">
        <div>
            <label asp-for="FirstName">First Name </label>
            <span>@Model.FirstName</span> 
        </div>
        <div>
            <label asp-for="LastName">Last Name</label>
            <span>@Model.LastName</span> 
        </div>
        <div>
            <label asp-for="Program">Program</label>
            <span>@Model.Program</span> 
        </div>
        <div>
            <label asp-for="EmailAddress">Username</label>
            <span>@Model.EmailAddress</span> 
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <span>@Model.Password</span> 
        </div>
        <div>
            <input type="submit"  value="Go to Login" />
            <input type="button" value="Reset" />
        </div>
    </form>
</fieldset>
